layout {
  default_tab_template {
      // the default zellij tab-bar and status bar plugins
      pane size=1 borderless=true {
          plugin location="zellij:tab-bar"
      }
      children
      pane size=2 borderless=true {
          plugin location="zellij:status-bar"
      }
  }

  tab name="Code" focus=true cwd="~/src/perotin" {
    pane command="fish" {
      args "-c" "nvim"
    }
  }

  tab name="Dev server" cwd="~/src/perotin" {
    pane command="fish" {
      args "-c" "yarn dev"
    }
  }
}
